# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  test-firedrake:
    docker:
      - image: firedrakeproject/firedrake-vanilla-default:dev-main

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "pyproject.toml" }}
            # fallback to using the latest cache if no exact match is found
            - v2-dependencies-

      - run:
          name: install dependencies
          command: |
            python3 -m pip install -e .[test,tao]

      - save_cache:
          paths:
            - ./venv
          key: v2-dependencies-{{ checksum "pyproject.toml" }}

      - run:
          name: Run tests
          command: |
            coverage run --source=pyadjoint -m pytest tests/pyadjoint/
            coverage report
            coverage html

      - run:
          name: Run firedrake adjoint tests
          # Pass on exit codes of 0 (pass) or 5 (no tests found)
          command: |
            python3 -m pytest /opt/firedrake/tests/firedrake/adjoint -m parallel[1]
            mpiexec -n 2 python3 -m pytest /opt/firedrake/tests/firedrake/adjoint -m parallel[2] -k "not covariance" || [ $? == 5 ]
            mpiexec -n 3 python3 -m pytest /opt/firedrake/tests/firedrake/adjoint -m parallel[3] -k "not covariance" || [ $? == 5 ]
            mpiexec -n 4 python3 -m pytest /opt/firedrake/tests/firedrake/adjoint -m parallel[4] -k "not covariance" || [ $? == 5 ]
            mpiexec -n 5 python3 -m pytest /opt/firedrake/tests/firedrake/adjoint -m parallel[5] -k "not covariance" || [ $? == 5 ]
            mpiexec -n 6 python3 -m pytest /opt/firedrake/tests/firedrake/adjoint -m parallel[6] -k "not covariance" || [ $? == 5 ]

      - store_artifacts:
          path: test-reports
          destination: test-reports

      - store_artifacts:
          path: htmlcov

workflows:
  version: 2
  all:
    jobs:
      - test-firedrake
